@{
    ViewBag.Title = "Pagina de contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    San Juan de Pasto<br />
    <abbr title="Phone">Telefono:</abbr>
    3215098953
</address>

<address>
    <strong>Supporte tecnico:</strong>   <a href="sr.w@hotmail.com.com">sr.w@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="sr.w@hotmail.com.com">sr.w@hotmail.com</a>
</address>